<div class="fucs-pop-up fucs-pop-up-oferta-academica">
  <div class="content-pop-up">
    <div class="close-pop-up">X</div>
    <a href="{{ config.link }}">
      <img src="{{config.image}}" alt="financiación" />
    </a>
  </div>
</div>