<div class="biblioteca-reserva">
<h2>Donación por PSE</h2>

	<div class="form">
      <p>Monto que desea donar</p>
      <input type="number" name="amount" id="amount" placeholder="Monto que desea donar"/>
      <p class="alert hidden" style="color: red;font-size: smaller;">Debes llenar el monto que desea donar</p>
			<button class="donation">Donar</button>
		</div>


	</div>

