<div class="pre-home">

  <div class="pre-home-content">

    <div class="pre-home-header">
      <a href="#" class="pre-home-close">Clic aquí para ir a www.fucsalud.edu.co</a>
      <div class="pre-home-header-content">
        <div class="pre-home-header-title">
          <h2>Diferente forma</h2>
          <h2 class="yelow">mismo ADN</h2>
        </div>
        <div class="logo pre-home-close">
          <img src="/prehome/images/logo-fucs.svg" />
        </div>
      </div>

      <p class="pre-home-header-botton">Hemos hecho un viaje a nuestro origen reflejando <strong style="color:#f8c680;">la esencia más pura de nuestro legado</strong></p>
    </div>

    <div class="pre-home-body">
      <img src="https://www.fucsalud.edu.co/prehome/images/centro-1.png" />
    </div>

    <div class="pre-home-pre-fotter">
    	<p class="txt-azul-1">Ser FUCS es llevar una impronta que destaca a sus estudiantes y egresados en cada uno de los escenarios en los que debe hacer gala de sus habilidades prácticas y humanas.</p>
      <p class="txt-azul-2">El legado, la tradición, humanidad, calidad y herencia son características que transitan en su ADN…</p>
    </div>

    <div class="pre-home-footer">
      <iframe width="67%" height="420" src="https://www.youtube.com/embed/XsWJXeH8Kgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>

  </div>

</div>
