.top {
  border-bottom: 1px solid #092755;
  background: #e6e8ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-icon-help {
  margin-left: 15px;
}

.menu-first ul li {
  border-right: 1px solid #092755;
}

.menu-first ul li a {
  color: #092755 !important;
}

.send .google-trans {
  border-left: none;
  width: 100%;
  padding-left: 0;
}

.search .line-search {
  border-left: none;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid #092755;
}
